@model ImageSimilarityMVC.Models.ImageModel

@{
    ViewBag.Title = "Details";
}
<br /><br />
<h2>Image details</h2>
<p class="lead">Choose count of similar images you want to display.</p>
<p class="lead">Choose similarity function you want to use in comparsion of images.</p>
<p class="lead">Click on "Show similar images" button to display similar images.</p>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <h5>Original image:</h5>
                <p>
                    <span class="badge badge-pill badge-dark">@Html.DisplayNameFor(model => model.TimeStamp)</span>
                    <span class="badge badge-pill badge-light">@Html.DisplayFor(model => model.TimeStamp)</span>
                    <span class="badge badge-pill badge-dark">@Html.DisplayNameFor(model => model.Name)</span>
                    <span class="badge badge-pill badge-light">@Html.DisplayFor(model => model.Name)</span>
                    <span class="badge badge-pill badge-dark">@Html.DisplayNameFor(model => model.Type)</span>
                    <span class="badge badge-pill badge-light">@Html.DisplayFor(model => model.Type)</span>
                    <span class="badge badge-pill badge-dark">@Html.DisplayNameFor(model => model.Size)</span>
                    <span class="badge badge-pill badge-light">@Html.DisplayFor(model => model.Size)</span>
                </p>

                <p>
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="Image" height="450" />
                </p>
                <br />
                @using (Html.BeginForm())
                {
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead offset-1">Choose count of similar images to display:</p>
                        <div class="btn-group offset-2" data-toggle="buttons">
                            <label class="btn btn-outline-primary">
                                @Html.RadioButton("similarImagesToDisplayCnt", "1") <span>1</span>
                            </label>
                            <label class="btn btn-outline-primary">
                                @Html.RadioButton("similarImagesToDisplayCnt", "3") <span>3</span>
                            </label>
                            <label class="btn btn-outline-primary active">
                                @Html.RadioButton("similarImagesToDisplayCnt", "5", true) <span>5</span>
                            </label>
                            <label class="btn btn-outline-primary">
                                @Html.RadioButton("similarImagesToDisplayCnt", "10") <span>10</span>
                            </label>
                            <label class="btn btn-outline-primary">
                                @Html.RadioButton("similarImagesToDisplayCnt", "20") <span>20</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="lead">Choose similarity function:</p>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButton("similarityFunction", "1", true, new { @class = "form-check-input" })
                                    <span>Euclidean distance</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButton("similarityFunction", "2", new { @class = "form-check-input" })
                                    <span>Bhattacharyya distance</span>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    <input type="submit" value="Show similar images" class="btn btn-success btn-lg" />
                    @*@Html.ActionLink("Show similar images", "ShowSimilar", new { id = Model.ID }, new { @class = "btn btn-success btn-lg" })*@
                </div>
                }
            </div>
            <div class="col-md-3 text-right">
                <h5>Image RGB histograms:</h5>
                <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.HistogramR)" alt="HistogramR" /></p>
                <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.HistogramG)" alt="HistoramG" /></p>
                <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.HistogramB)" alt="HistogramB" /></p>
            </div>
        </div>
    </div>


